<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>git hook data</title>
    <link rel="stylesheet" type="text/css" href="/static/res/css/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="/static/res/css/style.css" />
    <link href="/static/res/lib/jsonFormater/s.css" type="text/css" rel="stylesheet"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/res/favicon.ico"/>
    <link rel="bookmark" href="/static/res/favicon.ico"/>
    <style type="text/css">
    	.success {
    		color:green;
    	}
    	.fail {
    		color:red;
    	}
    	.push_user {
    		margin-left: 20px;
    	}
    	ul#pre_json {
			margin: 10px 0 0;
			padding: 0;
		}
		ul#pre_json i, ul#pre_json b {
			color: black;
			font-style: normal;
		}
		ul#pre_json ul {
			margin: 3px 0 0 20px;
			padding: 0;
		}
		ul#pre_json li {
			padding: 0 0 3px;
			list-style-type: none;
			margin: 0;
			color: #666666;
		}
		#pre_json_data {
			margin-left: 50px;
		}
    </style>
</head>
<body id="body_content">
    <div id="wrapper">
        <p class="breadcrumb">
            <a href="/"><HEAD></HEAD>Home</a> &gt; <a href="/history/{{hook_data.md5}}">history</a> &gt; data
        </p>
        <div class="bdsharebuttonbox" style="float:right;">
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a class="bds_count" data-cmd="count"></a>
        </div>
        <h1>git hook data - [ <span class="{% if hook_data.success == '1' %} success {% else %} fail {% endif %}">{% if hook_data.success == '1' %} success {% else %} fail {% endif %}</span> ]</h1>
        <div class="HeadersRow">
		    <textarea id="RawJson">{{hook_data.data}}</textarea>
		</div>
		<div id="ControlsRow">
		  <input class="pure-button pure-button-primary" type="Button" value="Format" onclick="Process()"/>
		  <span id="TabSizeHolder">
		    Indentation
		    <select id="TabSize" onchange="TabSizeChanged()">
		      <option value="1">1</option>
		      <option value="2">2</option>
		      <option value="3">3</option>
		      <option value="4" selected="selected">4</option>
		      <option value="5">5</option>
		      <option value="6">6</option>
		    </select>
		  </span>
		  <label for="QuoteKeys">
		    <input type="checkbox" id="QuoteKeys" onclick="QuoteKeysClicked()" checked="checked" /> 
		    Quot
		  </label>&nbsp; 
		  <a href="javascript:void(0);" onclick="SelectAllClicked()">All</a>
		  &nbsp;
		  <span id="CollapsibleViewHolder" >
		      <label for="CollapsibleView">
		        <input type="checkbox" id="CollapsibleView" onclick="CollapsibleViewClicked()" checked="checked" /> 
		        Show Control
		      </label>
		  </span>
		  <span id="CollapsibleViewDetail">
		    <a href="javascript:void(0);" onclick="ExpandAllClicked()">Expand</a>
		    <a href="javascript:void(0);" onclick="CollapseAllClicked()">Collapse</a>
		    <a href="javascript:void(0);" onclick="CollapseLevel(3)">2 Lv</a>
		    <a href="javascript:void(0);" onclick="CollapseLevel(4)">3 Lv</a>
		    <a href="javascript:void(0);" onclick="CollapseLevel(5)">4 Lv</a>
		    <a href="javascript:void(0);" onclick="CollapseLevel(6)">5 Lv</a>
		    <a href="javascript:void(0);" onclick="CollapseLevel(7)">6 Lv</a>
		    <a href="javascript:void(0);" onclick="CollapseLevel(8)">7 Lv</a>
		    <a href="javascript:void(0);" onclick="CollapseLevel(9)">8 Lv</a>
		  </span>
		</div>
		<div id="Canvas" class="Canvas"></div>
        <p class="footer">
            <a href="/">git hooks</a> &gt; Author By aTool.org
        </p>
        <script type="text/javascript" src="/static/res/lib/jquery.min.js"></script>
    	<script type="text/javascript" src="/static/res/lib/jsonFormater/c.js"></script>
    	<script type="text/javascript" src="/static/res/lib/jsonFormater/m.js"></script>
        <script type="text/javascript">CollapseLevel(4);</script>
    </div>
    <script type="text/javascript">
    window._bd_share_config={"common":{"bdSnsKey":{"tsina":"2337303479","tqq":"801368329"},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='//bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
</body>
</html>